/*---------- about-us ----------*/
.about-us {
  position: relative;
  padding: 50px 0;
  text-align: center;
  z-index: 2;

  &.about-us_detail {
    margin-top: 109px;
  }

  &__letters {
    display: none;
    font-size: 15vh;
    font-weight: 700;
    letter-spacing: 7.6px;
    color: #000000;
    text-transform: uppercase;

    div {
      overflow: hidden;
      position: absolute;
      padding: 10px 0;
      z-index: 1;

      &.is-inview {

        span {
          transform: translate(0,0) !important;
        }
      }

      &:nth-child(2n-1) span {
        transform: translate(0, -100%);
      }

      span {
        display: block;
        transition: transform 0.9s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        transform: translate(0, 100%);
      }

      &:nth-child(1) {
        top: 8vh;
        left: 33%;
      }

      &:nth-child(2) {
        top: 42vh;
        left: 12%;
      }

      &:nth-child(3) {
        top: 80vh;
        left: 70%;
      }

      &:nth-child(4) {
        top: 114vh;
        left: 20%;
      }

      &:nth-child(5) {
        top: 150vh;
        left: 40%;
      }
    }
  }

  &__title {
    position: absolute;
    top: 60px;
    left: calc(55% + 20px);
    right: 20px;
    z-index: 1;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.5px;
    color: #000;
    text-align: left;

    span {
      display: block;
    }
  }

  &__content {
    position: relative;
    padding: 50px 20px;
    z-index: 1;
    text-align: left;
    @include main-font2();

    p {
      margin-bottom: 20px;
      line-height: 1.42;
    }
  }

  &__border {
    overflow: hidden;
    position: relative;
    left: 25%;
    width: 30%;
    height: 50vh;
    min-height: 250px;
    min-width: 100px;
    z-index: -1;
    background: #fff;

    &-mask {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;

      &:before,
      &:after {
        position: absolute;
        content: '';
        background: #ffed00;
        transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
      }

      &:before {
        height: 5px;
        width: 100%;
        transform: scale(0, 1);
      }

      &:after {
        height: 100%;
        width: 5px;
        transform: scale(1, 0);
      }

      &:nth-child(1) {

        &:before {
          top: 0;
          left: 0;
          transform-origin: right center;
          transition-delay: 0s;
        }

        &:after {
          top: 0;
          left: 0;
          transform-origin: top center;
          transition-delay: 0s;
        }
      }

      &:nth-child(2) {

        &:before {
          bottom: 0;
          left: 0;
          transform-origin: left center;
          transition-delay: 0s;
        }

        &:after {
          top: 0;
          right: 0;
          transform-origin: bottom center;
          transition-delay: 0s;
        }
      }
    }
  }

  &.is-inview {

    .about-us__border {

      &-mask {

        &:before {
          transform: scale(1);
        }

        &::after {
          transform: scale(1);
        }

        &:nth-child(1) {

          &:before {
            transition-delay: 0.2s;
          }

          &::after {
            transition-delay: 0.8s;
          }
        }

        &:nth-child(2) {

          &:before {
            transition-delay: 1.4s;
          }

          &::after {
            transition-delay: 2s;
          }
        }
      }
    }
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    text-align: left;
  }

  &__image {
    overflow: hidden;
    position: absolute;
    top: 25vh;
    left: 40%;
    width: 30%;
    min-width: 100px;

    img {
      display: block;
      width: 100%;
    }
  }

  &__column {
    width: 100%;
  }

  &__item {
    padding: 0 0 36px calc(100% - 288px);
    color: #000;
    text-transform: uppercase;

    &:first-child { padding: 0 calc(100% - 288px) 36px 0 }

    &-thumb {
      display: block;
      height: 288px;
      margin-bottom: 10px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: #fff;
    }

    &-name {
      display: block;
      padding: 0 12px 0 35px;

      dt {
        margin-bottom: 6px;
        font-size: 16px;
        font-weight: 600;
        line-height: 1;
        letter-spacing: 5px;
      }

      dd {
        font-weight: 600;
        line-height: 1.55;
        letter-spacing: 5px;
        color: #000000;
        font-size: 14px;
      }
    }
  }

  .badge {
    top: 0;
    left: 39.76234%;
  }
}

@media (min-width: $tablet-portrait) {
  .about-us {
    width: 700px;
    margin: 0 auto;

    &__letters {
      display: block;
    }

    &__border {

      &-mask {

        &:before {
          height: 10px;
        }

        &:after {
          width: 10px;
        }
      }
    }

    &__column {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &__item {
      width: 288px;
      padding: 0 0 105px;
      margin: 0 0 -50px 0;

      &:first-child {
        padding: 0 0 105px;
        margin: -50px 0 0;
      }
    }
  }
}

@media (min-width: $desktop) {
  .about-us {
    width: 1094px;
    padding: 51px 0 124px;

    &.about-us_detail {
      padding: 181px 0 124px;
      margin-top: 0;
    }

    &__letters {
      font-size: 144px;
      letter-spacing: 7.6px;

      div {
        width: 106px;
        height: 169px;

        &:nth-child(1) {
          top: 259px;
          left: 44%;
        }

        &:nth-child(2) {
          top: 533px;
          left: 25.5%;
        }

        &:nth-child(3) {
          top: 948px;
          left: 67%;
        }

        &:nth-child(4) {
          top: 1125px;
          left: 3%;
        }

        &:nth-child(5) {
          top: 1447px;
          left: 19%;
        }
      }
    }

    &__title {
      top: 233px;
      left: calc(19.2% + 424px + 33px);
      font-size: 48px;
      line-height: 1.4em;
    }

    &__border {
      left: 19.2%;
      width: 424px;
      height: 814px;

      &-mask {

        &:before {
          height: 16px;
        }

        &:after {
          width: 16px;
        }
      }
    }

    &__wrap {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    &__image {
      top: 426px;
      left: 31%;
      width: 418px;
      height: 691px;
    }

    &__content {
      width: 1150px;
      margin: 0 auto;
      padding: 378px 0 161px calc(46.5%);
      font-size: 16px;
      line-height: 1.38;
      letter-spacing: 1px;
      color: #000000;

      p {
        margin-bottom: 44px;
      }
    }

    &__column {
      display: block;
      width: 288px;

      &:nth-child(2) {
        padding-top: 170px;
      }
    }

    &__item {
      width: 100%;
      margin: 0;

      &:first-child { margin: 0 }
    }

    .btn_plus { margin-top: -26px }
  }
}
/*---------- /about-us ---------*/