/*---------- about-us ----------*/
.about-us {
  position: relative;
  padding: 50px 0;
  text-align: center;
  z-index: 1;

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    text-align: left;
  }

  &__column {
    width: 100%;
  }

  &__item {
    padding: 0 0 36px calc(100% - 288px);
    color: #000;
    text-transform: uppercase;

    &:first-child { padding: 0 calc(100% - 288px) 36px 0 }

    &-thumb {
      display: block;
      height: 288px;
      margin-bottom: -30px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: #fff;
    }

    &-name {
      display: block;
      padding: 0 35px;

      dt {
        font-size: 24px;

        span {
          display: block;
        }
      }

      dd {
        font-size: 16px;
      }
    }
  }

  .badge {
    top: 0;
    left: 39.76234%;
  }
}

@media (min-width: $tablet-portrait) {
  .about-us {
    width: 700px;
    margin: 0 auto;

    &__column {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &__item {
      width: 288px;
      padding: 0 0 96px;
      margin: 0 0 -50px 0;

      &:first-child {
        padding: 0 0 96px;
        margin: -50px 0 0;
      }
    }
  }
}

@media (min-width: $desktop) {
  .about-us {
    width: 1094px;
    padding: 72px 0 170px;

    &__wrap {
      flex-direction: row;
      justify-content: space-between;
    }

    &__column {
      display: block;
      width: 288px;

      &:nth-child(2) {
        padding-top: 170px;
      }
    }

    &__item {
      width: 100%;
    }
  }
}
/*---------- /about-us ---------*/