/*---------- badge ----------*/
.badge {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 20%;
  width: 96px;
  z-index: 2;
  border: 1px solid #000;
  color: #000;
  text-align: left;

  dt {
    padding: 10px 15px;
    border-bottom: 1px solid #000;
    font-size: 68px;
    font-weight: 900;
    text-align: center;
  }

  dd {
    padding: 15px 13px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;

    span {
      display: block;
    }
  }
}

@media (min-width: $desktop) {
  .badge {

  }
}
/*---------- /badge ---------*/
