/*---------- btn ----------*/
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000000;
  background: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  min-height: 50px;
  color: #000000;
  -webkit-transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 18px 28px;
  position: relative;
  text-align: center;
  font-size: 10px;
  @include main-font2();

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(0, 1);
    transform-origin: right center;
    background: #000000;
  }

  &:hover {
    color: #ffffff;

    &:before {
      transform: scale(1, 1);
      transform-origin: left center;
    }
  }

  span {
    display: block;
    position: relative;
    margin: 0 auto;
    z-index: 2;
  }

  &.btn_plus {
    width: 68px;
    height: 68px;
    padding: 0;
    font-size: 16px;
    letter-spacing: 0;
    background-color: #000;
    color: #fff;

    &:before { background-color: #fff }

    &:hover {
      color: #000;
    }
  }
}

@media (min-width: $desktop) {
  .btn {

  }
}
/*---------- /btn ---------*/
