/*---------- case-preview ----------*/
.case-preview {
  position: relative;
  padding: 50px 0;

  &__wrap {

  }

  &__item {
    display: block;
    position: relative;
    padding: 0 0 36px 20%;
    background-color: #fff;
    font-size: 16px;
    color: #fff;
    text-align: center;

    &:nth-child(odd) { padding: 0 20% 36px 0 }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      background: rgba(0,0,0,.7);
      transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      content: '';
    }

    &:hover {

      &:before {
        opacity: 1;
        transition-delay: 0s;
      }

      .case-preview__info {

        &:before {
          transform-origin: right center;
          transform: scale(1, 1);
          transition-delay: 0s;
        }

        &:after {
          transform-origin: left center;
          transform: scale(1, 1);
          transition-delay: 0s;
        }

        span {
          transform: translate(0, 0%);
          transition-delay: 0.1s;
        }
      }
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    .case-preview__info {
      @include absoluteCenter();
      overflow: hidden;
      display: block;
      padding: 5px 20px;

      &:before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        content: '';
        height: 2px;
        background: #ffffff;
        -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0.2s;
        transform: scale(0, 1);
        transform-origin: left center;
      }

      &:after {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50%;
        content: '';
        height: 2px;
        background: #ffffff;
        -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0.2s;
        transform: scale(0, 1);
        transform-origin: right center;
        z-index: 3;
      }

      span {
        color: #fff;
        transform: translate(0, 150%);
        display: inline-block;
        -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0s;
      }
    }
  }

  .badge {
    top: -8.5vh;
    left: 26.051188%;
  }
}

@media (min-width: $tablet-portrait) {
  .case-preview {
    width: 750px;
    margin: 0 auto;

    &__wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
    }

    &__item {
      width: 335px;
      padding: 0;
      margin: 0 20px 36px;

      &:nth-child(odd) {
        padding: 0;
      }
    }
  }
}

@media (min-width: $desktop) {
  .case-preview {
    width: 1094px;
    padding: 72px 0 111px;

    &__wrap {
      justify-content: space-between;
    }

    &__item {
      margin: 0 0 36px;

      &:nth-child(2) {
        margin-top: 126px;
      }
    }
  }
}
/*---------- /case-preview ---------*/