/*---------- contact ----------*/
.contact {
  position: relative;
  padding: 40px;
  margin-bottom: 68px;

  &__title {
    display: block;
    position: relative;
    margin-bottom: 24px;
    padding-bottom: 95px;
    font-size: 12px;
    text-transform: uppercase;
    @include main-font2();
    font-weight: 500;
    letter-spacing: 3px;
    color: $main-black-color;
    text-align: center;

    &:after {
      @include absoluteCenterX();
      bottom: 0;
      width: 1px;
      height: 66px;
      background-color: $main-black-color;
      content: '';
    }
  }

  &__wrap {
    display: block;
    position: relative;
    width: 100%;
    height: 77.322835vw;
    margin: 0 auto;
    background-color: #fff;
  }
  &__map,
  &__map-location {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &__map {
    pointer-events: none;
  }
  &__map-location-item {
    position: absolute;
    display: inline-block;
    font-size: 28px;
    @include main-font2();
    font-weight: 600;
    white-space: nowrap;

    &:nth-child(1) {
      top: 21%;
      left: -4.8%;

      address {
        text-align: left;
      }
    }
    &:nth-child(2) {
      top: 54.2%;
      right: -4.8%;

      address {
        text-align: right;
      }
    }
    address {
      padding: 14px 0 0;
      font-size: 16px;
      @include main-font2();
      font-weight: 600;
      letter-spacing: 5px;

      span {
        display: block;
        margin-bottom: 3px;
      }
    }
  }
}

@media (min-width: $tablet-portrait) {
  .contact {
    margin-bottom: 143px;

    &__wrap {
      width: 615px;
      height: 471px;
      padding: 0;
    }
    &__map-location-item {
      font-size: 64px;

      &:nth-child(1) {
        top: 20.2%;
        left: -5.3%;
      }
      &:nth-child(2) {
        top: 55.2%;
        right: -9.8%;
      }
    }
  }
}

@media (min-width: $desktop) {
  .contact {

    &__map {

    }
  }
}
/*---------- /contact ---------*/
