
.dedicated {
  max-width: 1160px;
  margin: 0 auto 140px;
  padding: 0 15px;

  &__hero {
    position: relative;
    padding: 198px 0;
  }
  &__hero-wrap {
    position: relative;

    > div {
      position: relative;
      z-index: 2;
      display: inline-block;
      padding: 20px;
      background: $main-white-color;
    }
  }
  &__hero-title {
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 1.1px;
    @include main-font2();
    font-weight: 600;
    white-space: pre-line;
  }
  &__hero-pic {
    @include absoluteCenterY();
    width: 100%;
    height: 46vw;
    right: 0;
    margin-top: 115px;
    background-size: cover;
    background-position: center;
    -webkit-filter: grayscale(100%);
    @include transition(filter, $animation-time, .5);

    &.animation {
      -webkit-filter: grayscale(0);
    }
  }
  &__hero-link {
    position: absolute;
    right: 0;
    top: 85px;
    font-size: 16px;
    @include main-font1();
    font-weight: bold;
    letter-spacing: 2.7px;
    color: $main-black-color;
  }
  &__info {
    max-width: 818px;
    @include main-font2();
    color: $main-black-color;

    h2 {
      margin-bottom: 43px;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.17;
    }
    p {
      margin-bottom: 43px;
      font-size: 16px;
      line-height: 21px;
    }
    ul {
      margin-bottom: 43px;
      padding-left: 20px;
      font-size: 16px;
      line-height: 21px;

      li {
        position: relative;
        padding-left: 20px;
        margin-bottom: 12px;

        &:before {
          position: absolute;
          display: inline-block;
          top: 9px;
          left: 5px;
          width: 11px;
          height: 1px;
          background: $main-black-color;
          content: '';
        }
      }
    }
  }
}

@media (min-width: $tablet-portrait) {

  .dedicated {

    &__hero {
      padding: 418px 0 264px;

      .navigation-down {
        left: 177px;
        -webkit-transform: translateX(0);
        transform: translateX(0);

        &.animation {
          -webkit-transform: translate(0);
          transform: translate(0);
        }
      }
    }
    &__hero-wrap {

      > div {
        padding: 37px 60px 34px 56px;
      }
    }
    &__hero-title {
      font-size: 56px;
      line-height: 80px;
      letter-spacing: 5.1px;
    }
    &__hero-pic {
      width: 773px;
      height: 398px;
      margin-top: 115px;
    }
    &__hero-link {
      top: 239px;
    }
  }
}
