/*---------- get-in-touch ----------*/
.get-in-touch {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 15px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.99);
  pointer-events: auto;
  -webkit-transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out;

  &.opened {
    opacity: 1;
    visibility: visible;
  }

  &__wrap {
    overflow-y: scroll;
    position: absolute;
    top: 72px;
    bottom: 15px;
    left: 15px;
    right: 15px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.02);

    textarea {
      width: 100% !important;
      height: 12vh !important;
      margin: 5px 0 15px !important;
      font-size: 8vh !important;
      font-weight: 500 !important;
      font-style: normal !important;
      font-stretch: normal !important;
      line-height: normal !important;
      letter-spacing: -2.7px !important;
      color: #000000 !important;
      border: none !important;
      background: transparent !important;
      @include main-font2();
      font-family: "Roboto", sans-serif !important;

      &::-webkit-input-placeholder {
        color: rgba(0,0,0,.2);
      }
      &::-moz-placeholder {
        color: rgba(0,0,0,.2);
      }
      &:-ms-input-placeholder {
        color: rgba(0,0,0,.2);
      }
      &:-moz-placeholder {
        color: rgba(0,0,0,.2);
      }
    }
  }

  &__field,
  .gfield {
    text-align: left;

    label {
      display: inline-block !important;
      margin-bottom: 15px;
      font-family: "Roboto", sans-serif !important;
      font-size: 10px !important;
      font-weight: 800 !important;
      letter-spacing: 2px;
      color: #000000;
      text-transform: uppercase !important;
    }

    input {
      width: 100% !important;
      height: 40px !important;
      margin-bottom: 20px;
      background: transparent !important;
      border: 0 !important;
      border-bottom: 1px solid #000000 !important;
      -webkit-appearance: none !important;
      border-radius: 0 !important;
      transition: border 0.4s cubic-bezier(0.4, 0, 0.2, 1);
      @include main-font2();
      font-family: "Roboto", sans-serif !important;

      &:focus {
        border-color: #b5b4b2 !important;
      }
    }
  }

  &__submit,
  .gform_footer {
    overflow: hidden;
    height: 0;
    padding: 0 !important;
    margin: 0 !important;
    text-align: left;
    transition: height .3s linear;

    &.show {
      height: 50px;
    }
  }

  &__footer {
    display: none;
  }
}
.get-in-touch-btn {
  cursor: pointer;
}

@media (min-width: $tablet-landscape) {
  .get-in-touch {

  }
}

@media (min-width: $tablet-portrait) {
  .get-in-touch {

    &__wrap {
      bottom: 151px;
      padding: 98px 110px;
    }

    &__field,
    .gform_fields {
      display: flex !important;
      justify-content: space-between;
      flex-wrap: wrap;

      input {
        margin-bottom: 51px !important;
      }

      .gfield {
        width: 100%;
        text-align: left;

        &:nth-child(1),
        &:nth-child(2) {
          width: calc(50% - 10px);
        }
      }
    }

    &__footer {
      position: absolute;
      bottom: 0;
      right: 15px;
      left: 15px;
      height: 151px;
      display: flex;
      justify-content: center;
      align-items: center;

      .social {
        position: absolute;
        right: 0;
        margin: 0;

        a {
          margin: 18px 13px;
        }
      }
      .newsletter {
        margin: 0;
        width: 40%;
      }
    }

    &__copyright {
      position: absolute;
      left: 12px;
      margin: 0;
      font-size: 9px;
      @include main-font2();
      font-weight: 600;
      letter-spacing: 2px;
      text-align: center;
      text-transform: uppercase;
      color: #4a4a4a;

      a,
      a:visited {
        color: #4a4a4a;
      }
    }
  }
}

@media (min-width: $desktop) {
  .get-in-touch {
    padding: 0 65px;

    &__wrap {
      top: 177px;
      left: 61px;
      right: 61px;

      textarea {
        height: 150px !important;
        margin: 9px 0 20px !important;
        font-size: 90px !important;
      }
    }

    &__field,
    .gform_fields {
      max-width: 716px;

      .gfield {

        &:nth-child(1),
        &:nth-child(2) {
          width: calc(50% - 21px);
        }
      }
    }

    &__footer {
      right: 61px;
      left: 61px;
      height: 151px;

      .newsletter {
        width: 100%;
      }
    }
  }
}
/*---------- /get-in-touch ---------*/
