/*---------- link-underline ----------*/
.link-underline {
  position: relative;
  display: inline-block;
  padding: 4px 0;

  &:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #000000;
    transform-origin: right center;
    transform: scale(0, 1);
    transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    content: '';
  }

  &:hover:before {
    transform-origin: left center;
    transform: scale(1, 1);
  }
  &_bold {

    &:before {
      height: 2px;
    }
  }
}

@media (min-width: $tablet-landscape) {
  .link-underline {
    padding: 0.25rem 0;
  }
}
/*---------- /link-underline ---------*/
