/*---------- logo ----------*/
.logo {
  overflow: hidden;
  position: relative;
  display: block;
  top: 0;
  left: 0;
  height: 104px;
  width: 111px;
  margin: 0 auto;
  z-index: 5;
  pointer-events: auto;
  transition: width 0.9s 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  svg {
    fill: $main-black-color;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

/*@media (min-width: $tablet-landscape) {
  .logo {
    height: 104px;
    width: 111px;
  }
}*/
/*---------- /logo ---------*/
