/*---------- logo ----------*/
.logo {
  overflow: hidden;
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
  height: 49px;
  width: 50px;
  pointer-events: auto;
  transition: width 0.9s 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  svg {
    fill: #000000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: $tablet-landscape) {
  .logo {
    height: 75px;
    width: 80px;
  }
}
/*---------- /logo ---------*/
