//fonts
@mixin main-font1() {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
@mixin main-font2() {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}

//justify
@mixin justify() {
  text-align: justify;

  &:after {
    display: inline-block;
    width: 100%;
    content: '';
  }
}

//blockCentered
@mixin blockCentered() {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

//absolutePosition
@mixin absolutePosition() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

//absoluteCenter
@mixin absoluteCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
}
@mixin absoluteCenterX() {
  position: absolute;
  left: 50%;
  transform: translateX( -50% );
}
@mixin absoluteCenterY() {
  position: absolute;
  top: 50%;
  transform: translateY( -50% );
}

//transition
@mixin transition( $property, $duration, $delay ) {
  -webkit-transition: $property $duration+s linear $delay+s;
  transition: $property $duration+s linear $delay+s;
}

//fixedCenterY
@mixin fixedCenterY() {
  position: fixed;
  top: 50%;
  transform: translateY( -50% );
}
