
.navigation-controls {
  display: none;

  li {
    margin-bottom: 11px;
  }
  &__btn {
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 1.44;
    color: $main-black-color;
    @include main-font2();
    backface-visibility: hidden;
    @include transition(all, $animation-time, 0);

    &:after {
      position: absolute;
      bottom: 4px;
      left: 0;
      width: 100%;
      height: 1px;
      background: $main-black-color;
      transform-origin: right center;
      transform: scale(1, 1);
      transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
      transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
      content: '';
    }
    &.active,
    &:hover:after {
      transform-origin: left center;
      transform: scale(0, 1);
    }
  }
}
.navigation-down {
  @include absoluteCenterX();
  z-index: 1;
  display: inline-block;
  top: -30px;
  left: 50%;
  bottom: -30px;
  width: 14px;
  background: none;
  border: none;
  padding: 0;

  &:before {
    @include absoluteCenterX();
    top: 0;
    height: 100%;
    width: 2px;
    background: $main-black-color;
    content: '';
  }
  span {
    @include absoluteCenterX();
    bottom: 0;
    width: 22px;
    height: 16px;
    @include transition(background, $animation-time, 0);

    &:before,
    &:after {
      position: absolute;
      left: 0;
      top: 7px;
      width: 100%;
      height: 2px;
      background: $main-black-color;
      content: '';
      @include transition(background, $animation-time, 0);
    }
    &:before {
      left: -8px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:after {
      left: 8px;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}

@media (min-width: $tablet-portrait) {

  .navigation-controls {
    display: inline-block;
    @include absoluteCenterY();
    top: 47.6%;
    right: 0;

    li {
      opacity: 0;
      -webkit-transform: translateX(-20px);
      transform: translateX(-20px);
      @include transition(all, $animation-time, 0);
    }
    &.animation {

      li {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);

        @for $i from 2 through 20 {

          &:nth-child(#{$i}) {
            -webkit-transition-delay: .1s * $i;
            transition-delay: .1s * $i;
          }
        }
      }
    }
  }
  .navigation-down {
    opacity: 0;
    top: -70px;
    bottom: -66px;
    -webkit-transform: translate(-50%, -50px);
    transform: translate(-50%, -50px);
    -webkit-transition: transform 1.2s cubic-bezier(.165,.84,.44,1),opacity 1.2s cubic-bezier(.165,.84,.44,1);
    transition: transform 1.2s cubic-bezier(.165,.84,.44,1),opacity 1.2s cubic-bezier(.165,.84,.44,1),-webkit-transform 1.2s cubic-bezier(.165,.84,.44,1);

    &.animation {
      opacity: 1;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
    }
  }
}

@media (min-width: $desktop) {

  .navigation-controls {

  }
  .navigation-down {

    &:hover {

      &:before,
      span:before,
      span:after {
        background: $main-black-color;
      }
    }
  }
}
