/*---------- newsletter ----------*/
.newsletter {
  position: relative;
  width: 100%;
  max-width: 665px;
  margin: 0 auto 38px;
  padding: 0 20px;

  form {
    text-align: center;
  }
  .gfield,
  .gform_footer,
  .ginput_container {
    margin: 0 0 -1px !important;
    padding: 0 !important;
  }
  .gfield_label { display: none !important; }

  input, textarea {
    display: block;
    width: 100% !important;
    height: 50px !important;
    padding: 0 20px !important;
    border: 1px solid #000000 !important;
    color: #000;
    transition: border-color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    background: #fff;
    letter-spacing: 3px !important;
    font-size: 12px !important;
    text-align: center;
    //border-bottom: 0 !important;
    border-radius: 0;
    @include main-font1();
    font-family: "Roboto", sans-serif !important;
    font-weight: 700;
    text-transform: uppercase;

    //&:focus {
    //  z-index: 1;
    //  border-color: #b5b4b2 !important;
    //}
  }
  textarea {
    height: 100px !important;
    padding-top: 21px !important;
    padding-bottom: 30px !important;
  }

  .btn {
    width: 100%;
    height: 50px;
    letter-spacing: 3px;
    font-size: 12px;
    font-weight: 700;
    @include main-font1();
  }
  .gform_footer {
    width: 50% !important;
    margin: 0 !important;

    img {
      display: block;
      margin: 5px auto;
    }

  }
  .gform_fields {
    >.gfield {
      margin-bottom: 0 !important;
    }
  }
  .gform_wrapper div.validation_error {
    border-top: none;
    border-bottom: none;
  }
  .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description {
    display: none !important;
  }
  .gform_wrapper li.gfield.gfield_error,
  .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    border: none !important;
    background: transparent !important;
    margin-bottom: 0 !important;
  }
  .gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
  .gform_wrapper li.gfield_error textarea {
    border-color: #C89797 !important;
    margin-bottom: 0 !important;
  }
  .gform_wrapper li.gfield.gfield_error {
    z-index: 1;

    input, textarea {
      border-color: #790000 !important;
    }

  }
  .gform_wrapper .gform_footer input.button,
  .gform_wrapper .gform_footer button[type=submit] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    min-height: 50px;
    width: 100%;
    color: $main-white-color;
    background-color: $main-black-color;
    border: 1px solid #000000 !important;
    -webkit-transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 18px 28px;
    position: relative;
    text-align: center;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      content: '';
      -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
      transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
      transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
      transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
      transform: scale(0, 1);
      transform-origin: right center;
      background: #fff;
    }

    &:hover {
      color: #000;

      &:before {
        transform: scale(1, 1);
        transform-origin: left center;
      }
    }

    span {
      display: block;
      position: relative;
      margin: 0 auto;
      z-index: 2;
    }
  }

  .phone-number{
    padding: 0!important;
    border: none;

    a{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 12px 12px 8px;
      text-align: center;
      font-size: 13px;
      white-space: nowrap;
      z-index: 2;
    }

  }

}

@media (min-width: $tablet-landscape) {
  .newsletter {
    margin-bottom: 38px;

    input, textarea {
      height: 57px !important;
    }
    textarea {
      height: 116px !important;
    }

    .btn {
      height: 57px;
    }

    .phone-number a{
      font-size: 2vh;
    }

  }
}
@media (min-width: $desktop) {
  .newsletter {

    .gfield,
    .gform_footer,
    .ginput_container {
      margin: 0 !important;
      padding: 0 !important;
    }
    .gform_fields {
      display: -moz-flex !important;
      display: -ms-flexbox !important;
      display: flex !important;
      @include flex-direction();
      @include align-items();
      @include justify-content(center);
      @include flex-wrap(wrap);

      >#field_3_4 {
        width: 100% !important;
        margin: -1px 0 0 0 !important;
      }
      >#field_3_3 {
        width: calc(50% + 1px) !important;
      }
      >.gfield {
        width: 50% !important;
        margin: 0 0 0 -1px !important;

        &:nth-child(2n+1) {
          margin-left: 0 !important;
        }

      }

    }
    form {
      //display: flex;

      > * {
        //width: 50%;
      }
    }
    .gform_footer {
      margin: -1px auto 0 !important;
    }
    input, textarea {
      border: 1px solid #000 !important;
      //border-right: 0 !important;
    }


    .phone-number{

      &:before{
        top: 2px;
      }

      a {
        -webkit-transition: color .3s ease;
        transition: color .3s ease;
      }

      &:hover {

        a{
          color: #fff;
        }

      }

    }

  }
}
/*---------- /newsletter ---------*/