/*---------- newsletter ----------*/
.newsletter {
  position: relative;
  width: 100%;
  max-width: 665px;
  margin: 0 auto 54px;
  padding: 0 20px;

  .gfield_label { display: none }

  input {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border: 1px solid #000000;
    color: #000;
    transition: background 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    background: #fff;
    letter-spacing: 3px;
    font-size: 12px;
    text-align: center;
    border-bottom: 0;
    border-radius: 0;
    @include main-font1();
    font-weight: 700;
    text-transform: uppercase;
  }

  .btn {
    width: 100%;
    height: 50px;
    letter-spacing: 3px;
    font-size: 12px;
    font-weight: 700;
    @include main-font1();
  }
}

@media (min-width: $tablet-landscape) {
  .newsletter {
    margin-bottom: 57px;

    input {
      height: 57px;
    }

    .btn {
      height: 57px;
    }
  }
}

@media (min-width: $desktop) {
  .newsletter {

    form {
      display: flex;
      margin-bottom: 87px;

      > * {
        width: 50%;
      }
    }

    input {
      border: 1px solid #000000;
      border-right: 0;
    }
  }
}
/*---------- /newsletter ---------*/
