/*---------- services ----------*/
.services {
  position: relative;

  .badge {
    left: 18.2%;
  }
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    font-size: 18px;
    background: #fff;

    &-active {

      .services__item-title {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
      .services__item-info-wrap {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    }
  }
  .swiper-pagination {
    padding: 32px 0 0 0;

    &-bullet {
      display: inline-block;
      vertical-align: middle;
      width: 16px;
      height: 16px;
      margin: 0 11px;
      background: $main-black-color;
      border: 2px solid $main-black-color;
      -webkit-transform: scale(.333);
      transform: scale(.333);
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;

      &:hover {
        background: $main-white-color;
      }
      &-active {
        -webkit-transform: scale(1);
        transform: scale(1);
        border: 1px solid $main-black-color;
        background: $main-white-color;
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  &__wrap {
    max-width: 1094px;
    padding: 50px 0;
    margin: 0 auto;
  }
  &__btns {
    position: relative;
  }
  &__item-pic {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
  }
  &__item-info {
    max-width: 465px;
    padding: 0 10px;
    text-align: left;

    .btn {
      padding: 22px 32px;
    }
  }
  &__item-info-wrap {
    opacity: 0;
    padding: 0 0 0 30px;
    -webkit-transform: translateX(-15%);
    transform: translateX(-15%);
    -webkit-transition: transform .9s cubic-bezier(.165,.84,.44,1),opacity .9s cubic-bezier(.165,.84,.44,1);
    transition: transform .9s cubic-bezier(.165,.84,.44,1),opacity .9s cubic-bezier(.165,.84,.44,1);
    transition-delay: .3s;
    -webkit-transition-delay: .3s;
  }
  &__item-title {
    opacity: 0;
    margin-bottom: 39px;
    font-size: 60px;
    @include main-font2();
    font-weight: 600;
    -webkit-transform: translateX(-70%);
    transform: translateX(-70%);
    -webkit-transition: transform .9s cubic-bezier(.165,.84,.44,1),opacity .9s cubic-bezier(.165,.84,.44,1);
    transition: transform .9s cubic-bezier(.165,.84,.44,1),opacity .9s cubic-bezier(.165,.84,.44,1);
    transition-delay: .3s;
    -webkit-transition-delay: .3s;
  }
  &__item-text {
    margin-bottom: 35px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.57;
    text-align: left;
  }
}

@media (min-width: $desktop) {

  .services {

    .swiper-button-next,
    .swiper-button-prev {
      display: inline-block;
      position: absolute;
      z-index: 11;
      top: -65px;
      cursor: pointer;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;

      &.swiper-button-disabled {
        cursor: default;
        opacity: .6;

        &:hover {
          margin-right: 0;
          margin-left: 0;
        }
      }
    }
    .swiper-button-next {
      right: 0;
      -webkit-transform: translateX(50%);
      transform: translateX(47%);

      &:hover {
        margin-right: -5px;
      }
    }
    .swiper-button-prev {
      left: 0;
      -webkit-transform: translateX(-50%);
      transform: translateX(-47%);

      &:hover {
        margin-left: -5px;
      }
    }

    &__wrap {
      padding: 85px 0 194px;
    }
    &__item-pic {
      width: auto;
      max-width: 100%;
    }
    &__item-info {
      position: absolute;
      z-index: 2;
      top: 99px;
      right: 0;
    }
    &__item-info-wrap {
      padding: 0 0 0 225px;
    }
  }
}
/*---------- /services ---------*/
