.loading.active + .site {
  opacity: 0;
}

.site {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-height: 100vh;
  min-width: 320px;
  opacity: 1;
  z-index: 1;
  @include main-font1();
  font-weight: 400;
  color: #000;
  transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);

  p {
    line-height: 1.6;
  }

  a {
    color: #000;
    text-decoration: none;
  }

  &__header {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    pointer-events: none;
    transition: padding .4s cubic-bezier(0.4, 0, 0.2, 1),
      transform .4s cubic-bezier(0.4, 0, 0.2, 1);

    &_minimize{
      padding: 0!important;
    }

    &_hidden{
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }

  }

  &__content {

    &-logo {
      padding: 100px 0;
      text-align: center;
    }
  }

  &__footer {
    padding: 0 0 40px 0;
    text-align: center;
    text-transform: uppercase;

    &-copyright {
      margin: 0;
      color: #4A4A4A;
      font-weight: 600;
      letter-spacing: 2px;
      @include main-font2;
      font-size: 13px;
      text-align: center;
      text-transform: uppercase;

      a{
        color: #4A4A4A;
      }

    }

    &-logo {
      position: relative;
      max-width: 1022px;
      margin: 0 auto 27px;
      text-align: center;
      font-size: 18px;
      @include main-font2();
      font-weight: 700;
      letter-spacing: 12px;
      line-height: 20px;
      text-transform: none;

      span {
        display: block;
        font-size: 30px;
        line-height: 38px;
        letter-spacing: 10px;
      }

      &:before,
      &:after {
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -13px;
        width: calc(33.333333% - 40px);
        height: 1px;
        background: #000000;
        -webkit-transition: -webkit-transform 0.4s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        transition: -webkit-transform 0.4s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        transition: transform 0.4s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        transition: transform 0.4s 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        content: '';
      }

      &:before {
        left: 0;
        transform-origin: right center;
      }

      &:after {
        right: 0;
        transform-origin: left center;
      }
    }

    &.is-inview {

      .site__footer-logo:before,
      .site__footer-logo:after {
        transform: scale(1, 1);
      }
    }

    &-phone{
      margin-bottom: 82px;
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 5px;

      a{
        color: #9B9B9B;
        cursor: text;
      }

    }

    &-topic{
      margin-bottom: 30px;
      color: #151C24;
      @include main-font2;
      font-size: 40px;
      line-height: 49px;
      font-weight: 600;
      text-transform: none;
    }

    &-decorate{
      position: absolute;
      bottom: 0;
      z-index: -1;

      &_1{
        opacity: 0;
      }

      &_2{
        right: 0;
      }

    }

    &-info{
      color: #151C24;
      @include main-font2;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 1px;
      text-transform: none;

      span{
        display: block;
        padding: 4px 0;
      }

    }

  }

  &__menu-btn {
    display: block;
    @include absoluteCenterY;
    z-index: 4;
    left: 15px;
    margin-top: -2px;
    padding: 8px 12px;
    border: none;
    user-select: none;
    background: transparent;
    cursor: pointer;
    text-transform: uppercase;
    @include main-font2();
    pointer-events: auto;

    span {
      display: block;
      right: 0;
      @include absoluteCenterY();
      width: 23px;
      height: 2px;
      background: $main-black-color;
      font-size: 0;
      -webkit-transition: background .3s;
      transition: background .3s;
      backface-visibility: hidden;

      &:before,
      &:after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: $main-black-color;
        content: '';
        transition-duration: .3s, .3s;
        transition-delay: .3s, 0.001s;
        backface-visibility: hidden;
      }
      &:before {
        top: -7px;
        transition-property: top, transform, background, margin;
      }
      &:after {
        bottom: -7px;
        transition-property: bottom, transform, background, margin;
      }
    }
    &.opened {
      color: transparent;

      span {
        background: transparent;

        &:before {
          top: 0;
          transform: rotate(45deg);
        }
        &:after {
          bottom: 0;
          transform: rotate(-45deg);
        }

        &:before,
        &:after {
          background: $main-black-color;
          transition-delay: 0.001s, 0.3s;
        }
      }
    }
  }

  &__menu {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 15px;
    background-color: rgba(255, 255, 255, 0.99);
    pointer-events: auto;
    -webkit-transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;

    &.opened {
      opacity: 1;
      visibility: visible;

      .site__menu-item {
        opacity: 1;
        transition-delay: .4s;

        &:nth-child(1) {
          -webkit-transform: translateX(10px);
          transform: translateX(10px);
        }
        &:nth-child(2) {
          -webkit-transform: translateX(-62px);
          transform: translateX(-62px);
        }
        &:nth-child(3) {
          -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
        }
        &:nth-child(4) {
          -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
        }
      }
    }
  }
  &__menu-wrap {
    overflow-y: scroll;
    position: absolute;
    top: 72px;
    bottom: 15px;
    left: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    background-color: rgba(0, 0, 0, 0.02);

    & > ul {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
    }

  }
  &__menu-item {
    text-align: center;
    opacity: 0;
    -webkit-transform: translateX(0) translateZ(0);
    transform: translateX(0) translateZ(0);
    transition: opacity .3s cubic-bezier(.15,.9,.34,.95),  transform .3s cubic-bezier(.15,.9,.34,.95);
    -webkit-transition: opacity .3s cubic-bezier(.15,.9,.34,.95),  -webkit-transform .3s cubic-bezier(.15,.9,.34,.95);

    a {
      font-size: 22px;
      line-height: 38px;
      @include main-font2();
      font-weight: 500;

      &.active {
        color: #9b9b9b;
        cursor: default;
      }
    }
  }
  &__menu-footer {
    display: none;
  }
}

@media (min-width: $phone-landscape) {
  .site {

  }
}
@media (min-width: $tablet-portrait) {
  .site {

    &__footer{

      &-decorate{
        bottom: 24px;

        &_1{
          opacity: 1;
          left: 0;
        }

        &_2{
          bottom: 104px;
        }

      }

    }

    &__menu {

      &.opened {

        .site__menu-item {

          &:nth-child(1) {
            -webkit-transform: translateX(34px);
            transform: translateX(34px);
          }
          &:nth-child(2) {
            -webkit-transform: translateX(-62px);
            transform: translateX(-62px);
          }
          &:nth-child(3) {
            -webkit-transform: translateX(-178px);
            transform: translateX(-178px);
          }
          &:nth-child(4) {
            -webkit-transform: translateX(-89px);
            transform: translateX(-89px);
          }
        }
      }
    }
    &__menu-wrap {
      bottom: 151px;
    }
    &__menu-item {

      a {
        font-size: 56px;
        line-height: 68px;
      }
    }
    &__menu-footer {
      position: absolute;
      bottom: 0;
      right: 15px;
      left: 15px;
      height: 151px;
      display: flex;
      justify-content: center;
      align-items: center;

      .social {
        position: absolute;
        right: 0;
        margin: 0;

        a {
          margin: 18px 13px;
        }
      }
      .newsletter {
        @include flexbox();
        @include flex-direction();
        @include justify-content();
        @include align-items();
        margin: 0;
        padding: 0;
        width: 40%;
        border: 1px solid #000000;

        >.phone-number {
          @include flexbox();
          @include flex-direction();
          @include justify-content(center);
          @include align-items(center);
          position: relative;
          top: auto;
          right: auto;
          width: 50%;
          padding: 12px 12px 8px;
          -webkit-transform: translateY(0);
          transform: translateY(0);
          cursor: default;
        }
        >.btn {
          width: 50%;
          border: none;
          padding: 18px 15px;
          border-left: 1px solid #000000;
        }

      }
    }
    &__menu-copyright {
      position: absolute;
      left: 12px;
      margin: 0;
      font-size: 9px;
      @include main-font2();
      font-weight: 600;
      letter-spacing: 2px;
      text-align: center;
      text-transform: uppercase;
      color: #4a4a4a;
    }
  }
}

@media (min-width: $desktop) {
  .site {

    &__header {
      padding: 38px 0;
      top: 0;
      z-index: 100!important;
    }

    &__footer {
      padding: 0 40px 47px 40px;

      &-logo {

        &:before,
        &:after {
          top: 50%;
          transform: scale(0, 1);
          margin-top: -0.8125rem;
        }
      }

      &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 calc( 50% - 511px );

        span{
          order: 1;

          &:nth-child( 2 ){
            order: 3;
          }

        }

        .site__footer-copyright{
          order: 2;
        }

      }

    }
    &__menu-btn {
      display: none;
    }
    &__menu {
      position: absolute;
      top: 0;
      bottom: 0;
      height: auto;
      opacity: 1;
      visibility: visible;
      background-color: transparent;
    }
    &__menu-wrap {
      flex-flow: row nowrap;
      top: 50%;
      right: auto;
      bottom: auto;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      overflow: hidden;
      background-color: transparent;

      & > ul {
        flex-flow: row nowrap;
        margin: 0 107px;
      }

    }
    &__menu-item {
      margin: 0 20px;
      opacity: 1;
      text-transform: uppercase;

      a {
        font-size: 2vh;
        font-weight: 400;
        line-height: 1;
        white-space: nowrap;

        &:after {
          background-color: $main-black-color;
          height: 1px;
          display: block;
          position: absolute;
          top: 55%;
          left: 0;
          width: 100%;
          transform-origin: right center;
          transform: scale(0, 1);
          -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
          transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
          content: '';
        }
        &.active {

          &:hover:after {
            transform-origin: left center;
            transform: scale(0, 1);
          }
        }
        &:hover:after {
          transform-origin: left center;
          transform: scale(1, 1);
        }
      }

    }
  }
}

@media (min-width: 1200px) and (max-width: 1500px) and (min-height: 600px) {

  .site {
    &__menu-wrap {

      & > ul {
        margin: 0 87px;
      }

    }

    &__menu-item {
      a{
        font-size: 14px;
      }
    }

  }
}
