/*---------- social ----------*/
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 90px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 11%;
    background-color: #fff;
    border-radius: 50%;

    &:first-child { margin-left: 0 }

    &:last-child { margin-right: 0 }

    &:before {
      background: #000000;
      border-radius: 50%;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      content: '';
      -webkit-transition: opacity 0.2s 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
      transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transform: scale(0.6, 0.6);
      opacity: 0;
    }

    svg {
      position: relative;
      z-index: 1;
      fill: #000;
      transition: fill 0.4s cubic-bezier(0.4, 0, 0.2, 1);

      g {
        transition: fill 0.4s cubic-bezier(0.4, 0, 0.2, 1);
      }
    }

    &:hover {

      &:before {
        opacity: 1;
        transform: scale(1, 1);
        -webkit-transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
      }

      svg {
        fill: #fff;

        g {
          fill: #fff;
        }
      }
    }
  }
}

@media (min-width: $tablet-landscape) {
  .social {

    &__item {
      width: 44px;
      height: 44px;
      margin: 18px 38px;
    }
  }
}
/*---------- /social ---------*/
